MYTGT=esp32
export ESPBAUD=2000000
export SERIAL=~/SERIAL_ESP1
OPTS="-DBOARD_HAS_PSRAM"        

if [ "$ENTITY" == 66 ]; then  # esp32-66 192.168.146.241
    MYTGT=esp32s3
    SDK_VERS=SUPERMINI_4MBFLASH_PSRAM_snapclient
#JTAG version
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_1C:DB:D4:84:F1:DC-if00
else
    echo unknown ENTITY
    exit
fi

